@page "/detallesauto/{id}"
@using System.Net.Http
@using System.Text.Json
@using System.Net.Http.Json
@inject HttpClient httpClient

<h1>Detalles del Auto</h1>

@if (auto != null)
{
    <h2>Marca: @auto.marca</h2>
    <p>Modelo: @auto.modelo</p>
    <p>Placa: @auto.placa</p>
    <p>Color: @auto.color</p>
    <p>Kilometraje: @auto.kilometraje</p>
    <p>Imagen:</p>
    <img src="@auto.urlImagen" width="400"/>
}
else
{
    <p>No se encontr칩 el auto.</p>
}

@code {
    private Auto auto;
    [Parameter] public string id { get; set; }
    private int idInt;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(id);

        try
        {
            idInt = int.Parse(id);
            Console.WriteLine("Id en int: " + idInt);

            var responseString = await httpClient.GetStringAsync($"http://localhost:5186/api/autos/{idInt}");
            Console.WriteLine("Respuesta JSON recibida: " + responseString);


            if (!string.IsNullOrEmpty(responseString))
            {
                auto = JsonSerializer.Deserialize<Auto>(responseString);
                Console.WriteLine(auto.marca);
            }
            else
            {
                // Manejar el caso en el que no se encuentra el auto.
                Console.WriteLine("Auto no encontrado.");
            }
        }
        catch (HttpRequestException ex)
        {
            // Manejar errores de solicitud HTTP de manera m치s robusta, puedes registrarlos o mostrar un mensaje de error.
            Console.WriteLine($"Error de solicitud HTTP: {ex.Message}");
        }
        catch (FormatException)
        {
            // Manejar el caso en el que el formato del ID no es v치lido.
            Console.WriteLine("El ID no es v치lido.");
        }
    }

    public class Auto
    {
        public int id { get; set; }
        public string marca { get; set; }
        public string modelo { get; set; }
        public string placa { get; set; }
        public string color { get; set; }
        public double kilometraje { get; set; }
        public string urlImagen { get; set; }
    }
}
